pkgbase = keepsecret-git
	pkgdesc = Password manager for viewing, editing, creating, or deleting passwords
	pkgver = r165.c68b694
	pkgrel = 1
	url = https://invent.kde.org/mart/keepsecret
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = extra-cmake-modules
	makedepends = git
	makedepends = qt6-tools
	makedepends = vulkan-headers
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = kcolorscheme
	depends = kconfig
	depends = kcoreaddons
	depends = kcrash
	depends = kdbusaddons
	depends = ki18n
	depends = kiconthemes
	depends = kirigami
	depends = kirigami-addons
	depends = kitemmodels
	depends = libsecret
	depends = qqc2-desktop-style
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	provides = keepsecret
	conflicts = keepsecret
	source = keepsecret::git+https://invent.kde.org/mart/keepsecret.git
	sha256sums = SKIP

pkgname = keepsecret-git
