pkgbase = keepsecret-git
	pkgdesc = Password manager for viewing, editing, creating, or deleting passwords
	pkgver = r231.6483fa1
	pkgrel = 1
	url = https://apps.kde.org/keepsecret/
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = extra-cmake-modules
	makedepends = git
	makedepends = kdoctools
	makedepends = vulkan-headers
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = kconfig
	depends = kcoreaddons
	depends = kdbusaddons
	depends = ki18n
	depends = kirigami
	depends = kirigami-addons
	depends = kitemmodels
	depends = libsecret
	depends = qqc2-desktop-style
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	provides = keepsecret
	conflicts = keepsecret
	source = git+https://invent.kde.org/utilities/keepsecret.git
	sha256sums = SKIP

pkgname = keepsecret-git
