pkgbase = kaichat
	pkgdesc = Chat interface for AI models such as ollama
	pkgver = 0.4.1
	pkgrel = 1
	url = https://apps.kde.org/kaichat/
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = kcolorscheme
	depends = kconfig
	depends = kconfigwidgets
	depends = kcoreaddons
	depends = kcrash
	depends = kdbusaddons
	depends = ki18n
	depends = kiconthemes
	depends = kstatusnotifieritem
	depends = ktextaddons
	depends = kwidgetsaddons
	depends = kwindowsystem
	depends = kxmlgui
	depends = qt6-base
	source = https://download.kde.org/stable/kaichat/kaichat-0.4.1.tar.xz
	sha256sums = 91040df50a655ac78f610897347b5a653d0e4c018d18aaf7855fdcf231e298bf

pkgname = kaichat
